body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

h1#welcome{
	text-align: center;
}

p#panels{
	font-size: 2rem;
}

.panel-warning {
  border-color: #fac975;
}

.panel-warning > .panel-heading {
  color: #4f5051;
  background-color: #ffffff;
  border-color: #faebcc;
}

.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fac975 0%, #f9ba4f 100%);
  background-image: linear-gradient(to bottom, #fac975 0%, #f9ba4f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}